
.testcase {
  & > .testcase-status > span {
    display: block;
  }
  & > .testcase-inner {
    display: flex;
    flex-flow: row wrap;

    & > [data-empty="true"] {
      display: none;
    }

    & > .relal-html {
      flex: 2 2 100%;
    }
    & > .sql-json,
    & > .relal-json,
    & > .tree {
      flex: 2 auto;
    }
    & > .testcase-traceback {
      flex: 2 0 100%;
    }
  }
}
